.vacantesPageContainerFormCrearVacante {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
@media (max-width: 768px) {
    .vacantesPageContainerFormCrearVacante {
        grid-template-columns: 1fr ;
    }
    
}