<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reporte de Estudiantes por Aula</title>
</head>
<body>
  <h1>Aula</h1>
  <table>
    <thead>
      <tr>
        <th>Aula</th>
        <th>Estudiantes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Prueba</td>
      </tr>
    </tbody>
  </table>
</body>
</html>